<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-success"> -->
      <%- include('partials/_header') %>
      <!-- <a class="navbar-brand" href="/account">PasswordKeepR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/accounts">View Accounts</a>
          <a class="nav-item nav-link" href="/urls/new" >Create New URL</a>
      </div> -->
    </form>
  </head>
  <body>
    <i class="fas fa-lock"></i>
    <h2><%= organization.name %> shared Accounts</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Website</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col" style="padding-left: 20px">Copy</th>
          <th scope="col" style="padding-left: 20px">Edit</th>
          <th scope="col" style="padding-left: 20px">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let account of accounts) { %>
        <tr class="rowData">
          <td><%= account.category %></td>
          <td><%= account.url %></td>
          <td><%= account.username %></td>
          <!-- We need to select this value -->
          <td><input type="text" class="password"value=<%= account.password %>
          <td>
            <!-- USE jQuery to select a specific value -->
            <!-- <form method="GET" action=""> -->
              <button class="copy">Copy</button>
              <!-- <button onclick="copyPassword()" class="btn btn-copy">Copy</button> -->
              <!-- <script>
                function copyPassword() {
                  /* Get the text field */
                  let copyText = document.getElementById("myInput");

                  /* Select the text field */
                  copyText.select();
                  copyText.setSelectionRange(0, 99999); /* For mobile devices */

                  /* Copy the text inside the text field */
                  navigator.clipboard.writeText(copyText.value);

                  /* Alert the copied text */
                  alert("Copied the text: " + copyText.value);
                }
              </script> -->
            </form>
          </td>
          <td>
            <form method="POST" action="/accounts/passwords/<%=account.password%>">
              <button class="btn btn-outline-primary">Edit</button>
            </form>
          </td>
          <td>
             <form method="POST" action="/accounts/<%=account.password%>/delete">
              <button class="btn btn-outline-danger">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
